.left_column{ 
  height:100vh;
 
 background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=753&q=80);
 background-repeat: repeat-y;
 
}

.right_column{ 
height:100vh


}

.form_container{
margin: 20% auto;
width: 300px;
height: 300;
      
}

.form-group{
  margin-top: 10px;
}

.submitButton{
  width: 100%;
  background-color: #61acb3 !important;
  
}

.title{
  text-align: center;
}